body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

.post {
  max-width: 550px;
  max-height: 650px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 24px;
  margin-bottom: 10px;
}

.description {
  font-size: 16px;
  margin-bottom: 10px;
}

.floor-price,
.author {
  font-size: 14px;

  margin-bottom: 5px;
}

.buttons {
  display: flex;
}
