body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

.post {
  max-width: 700px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.title {
  font-size: 24px;
  margin-bottom: 10px;
}

.description {
  font-size: 16px;
  margin-bottom: 10px;
}

.floor-price,
.author {
  font-size: 14px;

  margin-bottom: 5px;
}

.buttons {
  display: flex;
}

.button,
.actions {
  display: inline-block;
  font-size: 14px;
  padding: 6px 12px;
  margin-right: 10px;
  text-decoration: none;
  color: #ffffff;
  background-color: #dc3545;
  border: 1px solid #dc3545;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  font-weight: 700;
  width: 100px;
  height: 40px;
}

.actions {
  background-color: #dc3545;
  border-color: #dc3545;
}

.button:hover,
.actions:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}
